
&i2c1 {
	compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";

	vl53l0x: vl53l0x@29 {
        compatible = "st,vl53l0x";
        reg = <0x29>;
        label = "VL53L0X";
        /* xshut-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;  // если подключишь XSHUT */
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 6)>,
                    <NRF_PSEL(TWIM_SCL, 1, 4)>;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 6)>,
                    <NRF_PSEL(TWIM_SCL, 1, 4)>;
            low-power-enable;
        };
    };
};
