&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;  // Скорость передачи: 100 кГц
    pinctrl-0 = <&i2c0_default>;           // Настраиваем пользовательские пины
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
};

&pinctrl {
    i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
				<NRF_PSEL(TWIM_SCL, 0, 22)>;
		};
	};

    i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
				<NRF_PSEL(TWIM_SCL, 0, 22)>;
			low-power-enable;
		};
	};
};
